.table-header {
  background-color: #f8f9fa;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  text-align: left;
  text-transform: uppercase;
}

.table-header:hover {
  background-color: #e9ecef;
}

.table-header:focus {
  outline: none;
}

.Button {
  background-color: white;
  width: 100%;
}

thead {
  top: 0;
  position: sticky;
}

.commission-table {
  border: 1px solid black;
  height: 360px;
  overflow-y: scroll;
}